
@font-face {
  font-family: 'Graphik';
  src:  url("../assets/fonts/graphik-web-light.eot");
  src:  local('☺'), url("../assets/fonts/graphik-web-light.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/graphik-web-light.woff") format("woff"),
        url("../assets/fonts/graphik-web-light.ttf") format("truetype");

  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../assets/fonts/graphik-web-regular.eot");
  src:  local('☺'), url("../assets/fonts/graphik-web-regular.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/graphik-web-regular.woff") format("woff"),
        url("../assets/fonts/graphik-web-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../assets/fonts/graphik-web-regular-italic.eot");
  src:  local('☺'), url("../assets/fonts/graphik-web-regular-italic.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/graphik-web-regular-italic.woff") format("woff"),
        url("../assets/fonts/graphik-web-regular-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../assets/fonts/graphik-web-semibold.eot");
  src:  local('☺'), url("../assets/fonts/graphik-web-semibold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/graphik-web-semibold.woff") format("woff"),
        url("../assets/fonts/graphik-web-semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../assets/fonts/graphik-web-semibold-italic.eot");
  src:  local('☺'), url("../assets/fonts/graphik-web-semibold-italic.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/graphik-web-semibold-italic.woff") format("woff"),
        url("../assets/fonts/graphik-web-semibold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../assets/fonts/graphik-web-bold.eot");
  src:  local('☺'), url("../assets/fonts/graphik-web-bold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/graphik-web-bold.woff") format("woff"),
        url("../assets/fonts/graphik-web-bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url("../assets/fonts/graphik-web-bold-italic.eot");
  src:  local('☺'), url("../assets/fonts/graphik-web-bold-italic.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/graphik-web-bold-italic.woff") format("woff"),
        url("../assets/fonts/graphik-web-bold-italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

