// Hyperlink Site Specific Styles

body {
	font-size: 14px;
	@include respond($md) {
		font-size: 16px;
	}
	@include respond($xlg + 300) {
		font-size: 1.25vw;
	}
	@include respond($max-site-width) {
		font-size: 18px;
	}
	@include respond($huge) {
		font-size: 20px;
	}
}

#pageLoader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: $bg-color;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;

	.loader {
		width: 300px;
		height: 300px;
		svg {
			width: 300px;
			height: 300px;
			* {
				fill: #ddd;
			}
		}
	}

	&.complete-start {
		opacity: 0;
	}

	&.complete-end {
		display: none;
	}

}

#content {
	padding-bottom: (100% - $site-width) + 5;
	@include respond($md) {
		padding-bottom: (100% - $site-width)/1.25;
	}
}

p {
	a {
		padding-bottom: 3px;
		border-bottom: 1px solid $hr-color;
	}
}

.blue {
	color: $primary-color;
}

i {
	font-style: italic;
}

.top-splash {
	display: block;
	height: 100vh;
	background-color: $primary-color;
	background-color: #000;
	background-size: cover;
	@include font-smooth();
	color: #fff;
	position: relative;
	z-index: 2;

	&:hover {
		color: #fff;
		border: none;
	}

	#nav-logo {
		svg {
			fill : #fff;
			width: 150px;
		}
	}


	.navigation {
		z-index: 3;
		position: fixed;
		font-weight: 700;
    font-size: 22px;
    height: 100%;
    width: 100%;
    pointer-events:none;


	}

	.navigation li {
		position:absolute;
	  padding: $gutter/2;
	  cursor:pointer;
	  pointer-events:all;

		transition : color, $med-speed, ease-in-out;
		svg {
			transition : fill, $med-speed, ease-in-out;
		}

	  &.invert {
	  	color:#000;
	  	&#nav-logo {
		  	svg {
		  		fill : #000;
		  	}
	  	}

	  }

		&.top {
			top:0;
		}

		&.bottom {
			bottom:0;
		}

		&.right {
			right:0;
			text-align: right;
		}

		&.left {
			left:0;
		}

	}

	#about {
		height: 100%;
		h2 {
			opacity: 0;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
			transform: translateY(-20px);
			//transition:;
		}
		&.visible {
			h2 {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	h1, h2 {
		font-size: 6vw;
		letter-spacing: -.03em;
		line-height: 1em;
		margin: 0;
	}
	h1 {
		font-weight: 700;
		font-style: italic;
		&:after {
			content: ' ';
		}
	}
	h2 {
    line-height: 1em;
    margin: 0;
    text-align: left;
		font-weight: 100;
		text-align: left;
	}
	@include respond($lg) {
		height: 100vh;
		h1, h2 {
			font-size: 5.5vw;
			display: inline;
		}
	}
}

.lg p,
p.lg {
	font-size: 1.35em;
	@include font-smooth();
	margin-bottom: 1.4em;
	@include respond($lg) {
		// font-size: 1.5em;
	}
}

.section {
	padding-top: (100% - $site-width);
	position: relative;
	@include respond($md) {
		padding-top: (100% - $site-width) / 1.5;
	}
	// &.grey {
	// 	background: #f4f4f4;
	// 	padding-bottom: (100% - $site-width);
	// 	margin-top: (100% - $site-width);
	// 	@include respond($md) {
	// 		padding-bottom: (100% - $site-width) / 1.6;
	// 		margin-top: (100% - $site-width) / 1.6;
	// 	}
	// }
	.title-col {
		position: static !important;
	}
	.section-title {
		font-size: 1em;
		color: $primary-color;
		margin-bottom: 1em;
	}
	.right-content-wrap {
		max-width: 33.5em;
	}
}

hr {
	margin: 1.5em 0;
	&.push-bottom {
		margin-top: 0;
	}
}

#intro {
	.right {
		text-align: right;
	}
	.logo {
		display: none;
		@include respond($lg) {
			// display: inline-block;
		}
		svg {
			height: 34px;
			* {
				fill: $primary-color;
			}
		}
	}
	.intro-p {
		margin-top: -.3em;
		p {
			max-width: 31.5em;
			&:last-of-type {
				margin-bottom: 0;
			}
			.logo-type {
				font-weight: 700;
				font-style: italic;
				letter-spacing: -.02em;
			}
		}
	}
}

#work-images {
	.inline-grid {
		margin-bottom: -$gutter;
	}
	[class^="col-"] {
		padding-bottom: $gutter;
	}
}

.inner-section {
	margin-top: (100% - $site-width)*1.5;
	&:first-of-type {
		margin-top: 0;
	}
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

#services {

}

#about {

}