// Hyperlink Site Specific Styles

$fixed-margin : 4.6875rem;
$fixed-margin : 5rem;

body {
	overflow-x: hidden;
	@include respond($md) {
		font-size: 16px;
	}
	@include respond($xlg) {
		// font-size: 18px;
	}
	@include respond($huge) {
		font-size: 18px;
	}
}

.container {
	@include respond($lg) {
		width: 100%;
		padding: 0 $fixed-margin;
	}
}

#pageLoader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: #000;
	visibility: visible;
	opacity: 1;
	transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;

	.loader {
		width: 60%;
		height: auto;
		svg {
			width: 100%;
			vertical-align: top;
	    margin-bottom: 4%;
			* {
				fill: #fff;
			}
		}
	}

	&.complete-start {
		visibility: hidden;
		opacity: 0;
	}

	&.complete-end {
		display: none;
	}

}

#content {
	// padding-bottom: (100% - $site-width) + 5;
	// @include respond($md) {
	// 	padding-bottom: (100% - $site-width)/1.25;
	// }
}

p {
	a {
		padding-bottom: .2em;
		border-bottom: 1px solid lighten($text-color, 60%);
		&:hover {
			color: $text-color;
			border-bottom-color: $text-color;
		}
	}
}

.blue {
	color: $primary-color;
}

i {
	font-style: italic;
}

.top-splash {
	display: block;
	height: 100vh;
	min-height: 300px;
	background-color: $primary-color;
	background-color: #000;
	background-size: cover;
	@include font-smooth();
	color: #fff;
	position: relative;
	z-index: 2;
	@include respond($md) {
		min-height: auto;
	}

	&:hover {
		color: #fff;
		border: none;
	}

	#showcase {
		width: 80%;
		padding-bottom: 80%;
	  height: auto;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    @include respond($md) {
    	width: 75vh;
		  height: 75vh;
		  padding-bottom: 0;
    }
		#canvas {
			display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    border-radius: 50%;
		}
	}

	#nav-logo {
		svg {
			height: .9em;
			width: auto !important;
			fill : #fff;
			width: 150px;
		}
	}

	#canvas {
		display: block;
	}


	.navigation {
		z-index: 3;
		position: fixed;
		font-weight: 700;
    height: 100%;
    width: 100%;
    pointer-events:none;


	}

	.navigation li {
		position:absolute;
	  padding: $gutter;
	  cursor: pointer;
	  pointer-events: all;
	  font-size: 1.5em;
	  line-height: 1em;
	  font-weight: 400;
	  span,
	  div {
	  	display: inline;
	  }
	  &:hover .arrow {
  		.one {
  			transform: rotate(-45deg) translate3d(4px,-16px,0);
  		}
  		.two {
  			transform: rotate(45deg) translate3d(-4px,-16px,0);
  		}
  	}
	  .arrow {
	  	width: 2px;
	    height: 20px;
	    position: relative;
	    background: #fff;
	    display: inline-block;
	    margin: 0 8px;
	  	span {
	  		display: block;
	  		transition: transform .5s ease-in-out;
	  	}
	  	.one {
	  		width: 14px;
	  		height: 14px;
	  		border-bottom: 2px solid #fff;
	  		transform: rotate(45deg);
	  		position: absolute;
	  		top: 6px;
	  		right: -6px;
	  	}
	  	.two {
	  		width: 14px;
	  		height: 14px;
	  		border-bottom: 2px solid #fff;
	  		top: 6px;
	  		left: -6px;
	  		transform: rotate(-45deg);
	  		position: absolute;
	  	}
	  }
	  @include respond($lg) {
	  	padding: ($fixed-margin/2 - .85rem) 0;
	  	width: $fixed-margin;
	  	text-align: center;
	  }

		transition : color, $med-speed, ease-in-out;
		svg {
			transition : fill, $med-speed, ease-in-out;
		}

	  &.invert {
	  	color:#000;
	  	&#nav-logo {
		  	svg {
		  		* {
		  			fill: #000;
		  		}
		  	}
	  	}
	  	.arrow {
	  		background: #000;
	  		.one,
	  		.two {
	  			border-color: #000;
	  		}
	  	}

	  }

		&.top {
			top: 0;
		}

		&.bottom {
			bottom: 0;
		}

		&.right {
			right: 0;
		}

		&.left {
			left: 0;
		}

	}

}

.section-title-top {
	padding: $gutter;
	text-align: center;
	position: absolute;
	left: $gutter;
	right: $gutter;
	top: 0;
	> * {
		font-size: 1.5em;
		font-weight: 400;
		color: #fff;
	}
	@include respond($lg) {
  	padding: ($fixed-margin/2 - .5rem) 0;
  	text-align: center;
  	left: $fixed-margin;
		right: $fixed-margin;
  }
  svg {
  	display: inline-block;
  	vertical-align: top;
  	height: 1.125rem;
  	* {
  		fill: #fff;
  	}
  }
}

.section-title-bottom {
	padding: $gutter;
	text-align: center;
	position: absolute;
	left: $gutter;
	right: $gutter;
	bottom: 0;
	@include respond($lg) {
  	padding: ($fixed-margin/2 - .85rem) 0;
  	text-align: center;
  	left: $fixed-margin;
		right: $fixed-margin;
  }
  > * {
  	font-weight: 400;
  	color: #fff;
  	letter-spacing: .125em;
  	font-size: .875rem;
  	text-transform: uppercase;
  	margin: 0;
  }
}

.lg p,
p.lg {
	font-size: 1.35em;
	@include font-smooth();
	margin-bottom: 1.4em;
	@include respond($lg) {
		// font-size: 1.5em;
	}
}

.section {
	position: relative;
	.title-col {
		position: static !important;
		font-size: 2em;
		text-align: center;
		@include respond($md) {
			font-size: 2.5em;
		}
	}
	.section-title {
		font-size: 1em;
		// color: $primary-color;
		margin: 0 0 1em;
	}
	// .right-content-wrap {
	// 	max-width: 33.5em;
	// }
}

hr {
	margin: 1.5em 0;
	&.push-bottom {
		margin-top: 0;
	}
}

#intro {
	.right {
		text-align: right;
	}
	.logo {
		display: none;
		@include respond($lg) {
			// display: inline-block;
		}
		svg {
			height: 34px;
			* {
				fill: $primary-color;
			}
		}
	}
	.intro-p {
		margin-top: -.3em;
		p {
			max-width: 31.5em;
			&:last-of-type {
				margin-bottom: 0;
			}
			.logo-type {
				font-weight: 700;
				font-style: italic;
				letter-spacing: -.02em;
			}
		}
	}
}

#work-images {
	padding-top: (100% - $site-width) / 1.75;
	@include respond($lg) {
		padding-top: $fixed-margin;
	}

	img {
		width: 100%;
		transform: translate3d(0, 75px, 0);
		opacity: 0;
		transition: transform 1s $ease, opacity 1s $ease;
		&.loaded {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}
	.web-layout {
		padding: $gutter * 2;
		background: #eee;
		@include respond($lg) {
			padding: $fixed-margin;
		}
		img {
			box-shadow: 0 10px 40px rgba(0,0,0,.07);
		}
	}

	.inline-grid {
		margin-bottom: -$gutter;
	}
	[class^="col-"] {
		padding-bottom: $gutter;
			&.no-gutter {
				@include respond($md) {
					padding-right: 0;
				}
				.web-layout {
					@include respond($md) {
						padding-right: $gutter;
					}
					@include respond($lg) {
						padding-right: $fixed-margin/2;
					}
				}
				+ .no-gutter {
					@include respond($md) {
						padding-left: 0;
						padding-right: $gutter/2;
					}
					.web-layout {
						@include respond($md) {
							padding-right: $gutter * 2;
							padding-left: $gutter;
						}
						@include respond($lg) {
							padding-right: $fixed-margin;
							padding-left: $fixed-margin/2;
						}
					}
				}
			}
		}
}

.inner-section {
	margin-top: (100% - $site-width)*1.5;
	&:first-of-type {
		margin-top: 0;
	}
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

#about-blurb {
	padding: 6em 0 3em;
	@include respond($lg) {
		padding: 14% 0 7%;
	}
	h2 {
		line-height: 1.4em;
		letter-spacing: -.02em;
		max-width: 29em;
		display: inline-block;
		transform-origin: center;
		font-size: 1.5em;
		margin-bottom: 1.4em;
		@include respond($md) {
			font-size: 2em;
		}
		@include respond($lg) {
			font-size: 2.75vw;
		}
	}
	p {
		font-size: 1.5em;
		margin-bottom: 0;
		@include respond($md) {
			font-size: 2em;
		}
		@include respond($lg) {
			font-size: 2.75vw;
		}
	}
}

#about {
	padding: 3em 0 3em;
	@include respond($lg) {
		padding: 7% 0 7%;
	}
	[class^="bio-"] {
		text-align: center;
		p:last-of-type {
			margin-bottom: 0;
		}
		@include respond($md) {
			text-align: left;
			margin-bottom: 0;
		}
	}
	.bio-2 {
		margin-top: 3em;
		@include respond($md) {
			margin-top: 0;
		}
	}
}

#services {
	padding: 3em 0 6em;
	@include respond($lg) {
		padding: 7% 0 14%;
	}
	.service-list {
		li {
			text-align: center;
			line-height: $base-line-height;
			@include respond($md) {
				width: 50%;
			}
			@include respond($xlg) {
				width: 33.333%;
			}
		}
	}
}

#contact {
	background: #000;
	@include font-smooth();
	a {
		color: #fff;
		border-bottom: 1px solid #444;
		font-weight: 400;
		font-size: 6vw;
		&:hover {
			border-color: #fff;
		}
	}
	@include respond($md) {
		padding: 0;
		min-height: 100vh;
	}
	padding: 2em 0 6em;
}