// Hyperlink Site Specific Styles

body {
	overflow-x: hidden;
	@include respond($md) {
		font-size: 16px;
	}
	@include respond($xlg) {
		// font-size: 18px;
	}
	@include respond($huge) {
		font-size: 18px;
	}
}

#pageLoader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: #000;
	visibility: visible;
	opacity: 1;
	transition: opacity 1s .25s ease-in-out, visibility 1s .25s ease-in-out;

	.loader {
		width: 70%;
		height: auto;
		svg {
			width: 100%;
			* {
				fill: #fff;
			}
		}
	}

	&.complete-start {
		visibility: hidden;
		opacity: 0;
	}

	&.complete-end {
		display: none;
	}

}

#content {
	// padding-bottom: (100% - $site-width) + 5;
	// @include respond($md) {
	// 	padding-bottom: (100% - $site-width)/1.25;
	// }
}

p {
	a {
		padding-bottom: .2em;
		border-bottom: 1px solid lighten($text-color, 60%);
		&:hover {
			color: $text-color;
			border-bottom-color: $text-color;
		}
	}
}

.blue {
	color: $primary-color;
}

i {
	font-style: italic;
}

.top-splash {
	display: block;
	height: 100vh;
	min-height: 300px;
	background-color: $primary-color;
	background-color: #000;
	background-size: cover;
	@include font-smooth();
	color: #fff;
	position: relative;
	z-index: 2;
	@include respond($md) {
		min-height: auto;
	}

	&:hover {
		color: #fff;
		border: none;
	}

	#nav-logo {
		svg {
			height: .9em;
			width: auto !important;
			fill : #fff;
			width: 150px;
		}
	}


	.navigation {
		z-index: 3;
		position: fixed;
		font-weight: 700;
    height: 100%;
    width: 100%;
    pointer-events:none;


	}

	.navigation li {
		position:absolute;
	  padding: $gutter;
	  cursor:pointer;
	  pointer-events:all;
	  font-size: 1em;
	  line-height: 1em;
	  font-weight: 400;

		transition : color, $med-speed, ease-in-out;
		svg {
			transition : fill, $med-speed, ease-in-out;
		}

	  &.invert {
	  	color:#000;
	  	&#nav-logo {
		  	svg {
		  		* {
		  			fill: #000;
		  		}
		  	}
	  	}

	  }

		&.top {
			top:0;
		}

		&.bottom {
			bottom:0;
		}

		&.right {
			right:0;
			text-align: right;
		}

		&.left {
			left:0;
		}

	}

	#about {
		height: 100%;
		h2 {
			// opacity: 0;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
			line-height: 1.3em;
			letter-spacing: -.02em;
			max-width: 21em;
			display: inline-block;
			// transform: scale(1.1);
			transform-origin: center;
			font-size: 1.5em;
			@include respond($md) {
				font-size: 2em;
			}
			@include respond($xlg) {
				font-size: 2.5em;
			}
		}
		&.visible {
			h2 {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

}

.lg p,
p.lg {
	font-size: 1.35em;
	@include font-smooth();
	margin-bottom: 1.4em;
	@include respond($lg) {
		// font-size: 1.5em;
	}
}

.section {
	position: relative;
	.title-col {
		position: static !important;
		font-size: 2em;
		text-align: center;
		@include respond($md) {
			font-size: 2.5em;
		}
	}
	.section-title {
		font-size: 1em;
		// color: $primary-color;
		margin: 0 0 1em;
	}
	// .right-content-wrap {
	// 	max-width: 33.5em;
	// }
}

hr {
	margin: 1.5em 0;
	&.push-bottom {
		margin-top: 0;
	}
}

#intro {
	.right {
		text-align: right;
	}
	.logo {
		display: none;
		@include respond($lg) {
			// display: inline-block;
		}
		svg {
			height: 34px;
			* {
				fill: $primary-color;
			}
		}
	}
	.intro-p {
		margin-top: -.3em;
		p {
			max-width: 31.5em;
			&:last-of-type {
				margin-bottom: 0;
			}
			.logo-type {
				font-weight: 700;
				font-style: italic;
				letter-spacing: -.02em;
			}
		}
	}
}

#work-images {
	padding-top: (100% - $site-width) / 1.75;
	.inline-grid {
		margin-bottom: -$gutter;
	}
	[class^="col-"] {
		padding-bottom: $gutter;
	}
}

.inner-section {
	margin-top: (100% - $site-width)*1.5;
	&:first-of-type {
		margin-top: 0;
	}
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

#services {
	padding: 2em 0 2em;
	@include respond($md) {
		padding: 0;
		min-height: 50vh;
	}
	.service-list {
		li {
			text-align: center;
			line-height: $base-line-height;
			@include respond($md) {
				width: 50%;
			}
			@include respond($xlg) {
				width: 33.333%;
			}
		}
	}
}

#about {
	padding: 4em 0 2em;
	.bio-1 {
		margin-bottom: 3em;
		@include respond($md) {
			margin-bottom: 0;
		}
	}
	@include respond($md) {
		padding: 0;
		min-height: 100vh;
	}
}

#contact {
	@include respond($md) {
		padding: 0;
		min-height: 100vh;
	}
	padding: 2em 0 6em;
}