<div id="about-blurb" class="section display-table">
	<div class="table-cell">
		<div class="container">
			<h2>Gordils &amp; Willis is a digital creative agency that designs &amp; develops fresh web &amp; mobile experiences. We work closely with our clients to understand their needs &amp; transform them into elegant, polished &amp; sometimes experimental products.</h2>
			<p><a href="mailto:hi@gordilsandwillis.com">hi@gordilsandwillis.com</a></p>
		</div>
	</div>
</div>
