<div id="about" class="section display-table">
	<div class="table-cell">
		<div class="container">
			<div class="inline-grid">
				<div class="col-12 title-col">
					<h3 class="section-title">We Are</h3>
				</div>
				<div class="col-6">
					{{!-- <div class="right-content-wrap"> --}}

						<div class="bio-1">
							<p>Matthew Gordils</p>
							<p>After completing a BFA in Graphic and Interactive Design at Tyler School of Art he moved to New York to work with NoFavorite, a web design studio in SoHo. He has worked with fashion brands such as Lulu Frost, Honor, Franziska Fox, and artists like Manolo Valdés and the Bruce High Quality Foundation.</p>
							<p><a href="mailto:matt@gordilsandwillis.com">matt@gordilsandwillis.com</a></p>
						</div>
				</div>	
				<div class="col-6">
						<div class="bio-2">
							<p>Robin Willis</p>
							<p>Robin Willis is a full stack developer who has been hacking away on computers for just about his whole life. He holds a BFA from the Cooper Union and Masters in Architecture from MIT. He has worked with various clients and startups to build beautiful interactive sites and applications that meet there needs and exceed their expectations.</p>
							<p><a href="mailto:robin@gordilsandwillis.com">robin@gordilsandwillis.com</a></p>
						</div>

					{{!-- </div> --}}

				</div>
			</div>
		</div>
	</div>
</div>
