<div id="about-blurb" class="section display-table">
	<div class="table-cell">
		<div class="container">
			<h2>Gordils &amp; Willis is a digital creative agency that designs and develops fresh web and mobile experiences. We work closely with our clients to understand their needs and transform them into elegant, polished products.</h2>
		</div>
	</div>
</div>
