<div id="about" class="section grey">
	<div class="container">
		<hr class="push-bottom">
		<div class="inline-grid">
			<div class="col-3 title-col">
				<h3 class="section-title">About</h3>
				<h3 class="section-title">Information</h3>
			</div>
			<div class="col-9">
				<div class="right-content-wrap">
					<div class="inner-section bio">
						<p class="lgg bblue">Hyperlink is made up of designer, <a href="#">Matthew Gordils</a>, and developer, <a href="#">Steve fuentes</a>. We work closely with our clients to find this and that. Sapiens autem semper beatus est et est aliquando in dolore; Quid sequatur, quid repugnet, vident. Haec quo modo conveniant, non sane intellego.</p>
						<p>Steve and Matt have been working together for 2013 and have developed a streamlined system to integrate design and development seamlessly, making flat designs become immersive experiences.</p>
					</div>
					<div class="inner-section bio">
						<p>Matthew Gordils, <i>Designer</i></p>
						<p>After completing a BFA in Graphic and Interactive Design at Tyler School of Art he moved to New York to work with NoFavorite, a web design studio in SoHo. He has worked with fashion brands such as Lulu Frost, Honor, Franziska Fox, and artists like Manolo Valdés and the Bruce High Quality Foundation.</p>
						<p><a href="mailto:matt@hyperlinknyc.com">matt@hyperlinknyc.com</a></p>
					</div>
					<div class="inner-section bio">
						<p>Robin Willis, <i>Developer</i></p>
						<p>Robin Willis is a full stack developer who has been working with clients to build beautiful interactive sites that are easy and fun to maintain. After attending SVA for illustration Steve went to build experiences at a small web design studio. He has worked with numerous fashion clients to help their businesses grow and be on the cutting edge of the web.</p>
						<p><a href="mailto:matt@hyperlinknyc.com">steve@hyperlinknyc.com</a></p>
					</div>
				</div>
				<!--end .right-content-wrap-->

			</div>
		</div>
	</div>
</div>
