<div id="contact" class="section">
	<div class="container">
		<hr class="push-bottom">
		<div class="inline-grid">
			<div class="col-3 title-col">
				<h3 class="section-title">Contact</h3>
			</div>
			<div class="col-9">
				<div class="right-content-wrap">
					<p>
						Project Inquiries<br>
						<a href="#">info@hyperlinknyc.com</a>
					</p>
					<p>
						Design Inquiries<br>
						<a href="#">matt@hyperlinknyc.com</a>
					</p>
					<p>
						Development Inquiries<br>
						<a href="#">steve@hyperlinknyc.com</a>
					</p>
				</div><!--end .right-content-wrap-->
			</div>
		</div>
	</div>
</div>