<div id="contact" class="section">
	<div class="container">
		<hr class="push-bottom">
		<div class="inline-grid">
			<div class="col-12 title-col">
				<p class="section-title"><a href="#">hi@gordilsandwillis.com</a></p>
			</div>
		</div>
	</div>
</div>