<div id="contact" class="section display-table">
	<div class="section-title-top">
		<h4>Work with us</h4>
	</div>
	<div class="table-cell">
		<div class="container">
			<div class="inline-grid">
				<div class="col-12 title-col">
					<p><a href="#">hi@gordilsandwillis.com</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="section-title-bottom">
		<h6>New York City</h6>
	</div>
</div>