<div id="contact" class="section">
	<div class="container">
		<hr class="push-bottom">
		<div class="inline-grid">
			<div class="col-3 title-col">
				<h3 class="section-title">Contact us</h3>
			</div>
			<div class="col-9">
				<div class="right-content-wrap">
					<p>
						<a href="#">hi@gordilsandwillis.com</a>
					</p>
				</div><!--end .right-content-wrap-->
			</div>
		</div>
	</div>
</div>