<div id="intro" class="section">
	<div class="container">
		<div class="row">
			<div class="col-2 right logo">
				<div class="fixed-logo">
					<a href="#intro">
						{{!-- {% include './components/logo.svg' %} --}}
					</a>
				</div>
			</div>
			<div class="col-12">
				<div class="lg intro-p">
					<p><span class="logo-type">Hyperlink</span> is a New York City based design and development team focusing on clean and responsive design, innovative solutions, and intuitive user experiences.</p>
					<p><a href="mailto:info@hyperlinknyc.com">Info@hyperlinknyc.com</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
