{{> '../components/loader' }}
{{> 'header' }}

 <div id="page">
    <div id="content">
			{{> 'splash'}}
			{{!-- {{> 'intro'}} --}}
			{{> 'work'}}
			{{> 'about'}}
			{{> 'services'}}
			{{> 'contact'}}
    </div>
</div>

{{> 'footer' }}
