<div id="services" class="section">
	<div class="container">
		<div class="inline-grid">
			<div class="col-3 title-col">
				<h3 class="section-title">We Do</h3>
			</div>
			<div class="col-9">
				<div class="right-content-wrap">
					<ul class="inline-grid no-break">
						<li class="col-12">Web Design &amp; Development </li>
						<li class="col-12">Mobile App Design &amp; Development</li>
						<li class="col-12">Visual Identity</li>
						<li class="col-12">User Experience</li>
						<li class="col-12">Ecommerce</li>
						<li class="col-12">Interaction Design</li>
						<li class="col-12">Digital Design</li>
						<li class="col-12">SEO</li>
						<li class="col-12">Data Visualization</li>
						<li class="col-12">Copy Writing</li>
					</ul>
				</div><!--end .right-content-wrap-->
			</div>
		</div>
	</div>
</div>