<div id="services" class="section display-table">
	<div class="table-cell">
		<div class="container">
			<div class="inline-grid">
				<div class="col-12 title-col">
					<h3 class="section-title">We Do</h3>
				</div>
				<div class="col-12">
					<div class="right-content-wrap">
						<ul class="inline-grid break-md">
							<li class="col-6">Web Design & Development </li>
							<li class="col-6">Mobile App Design & Development</li>
							<li class="col-6">Visual Identity</li>
							<li class="col-6">User Experience</li>
							<li class="col-6">Ecommerce</li>
							<li class="col-6">Interaction Design</li>
							<li class="col-6">Digital Design</li>
							<li class="col-6">SEO</li>
							<li class="col-6">Data Visualization</li>
							<li class="col-6">Copy Writing</li>
						</ul>
					</div><!--end .right-content-wrap-->
				</div>
			</div>
		</div>
	</div>
</div>