<div id="services" class="section display-table">
	<div class="table-cell">
		<div class="container">
			<div class="inline-grid">
				<div class="col-12 title-col">
					<h3 class="section-title">We Do</h3>
				</div>
				<div class="col-12">
					<div class="right-content-wrap">
						<ul class="service-list inline-grid center break-md">
							<li class="col">Web Design & Development </li>
							<li class="col">Mobile App Design & Development</li>
							<li class="col">Visual Identity</li>
							<li class="col">User Experience</li>
							<li class="col">Ecommerce</li>
							<li class="col">Interaction Design</li>
							<li class="col">Digital Design</li>
							<li class="col">SEO</li>
							<li class="col">Data Visualization</li>
							<li class="col">Copy Writing</li>
						</ul>
					</div><!--end .right-content-wrap-->
				</div>
			</div>
		</div>
	</div>
</div>