<div href="#intro" class="top-splash">

	<div class="section-title-top">
		{{{svg '../../assets/images/logo.svg' }}}
	</div>

	<div class="section-title-bottom">
		<h2>Digital Design Studio</h2>
	</div>

	<ul class="navigation">
		<li id="nav-logo" class="top left">
			<span>&</span>
		</li>
		<li id="nav-contact" class="top right"><span>@</span></li>
		<li id="nav-about" class="bottom right"><span>i</span></li>
		<li id="nav-works" class="bottom left">
			<div class="arrow">
				<span class="one"></span>
				<span class="two"></span>
			</div>
		</li>
	</ul>

	<div class="display-table">
		<div class="table-cell">
			<div id="showcase">
				<canvas id="canvas"></canvas>
			</div>
		</div>
	</div>

</div>