<div href="#intro" class="top-splash">


	<ul class="navigation">
		<li id="nav-logo" class="top left">
			{{{svg '../../assets/images/logo.svg' }}}
		</li>
		<li id="nav-contact" class="top right"><span>Contact</span></li>
		<li id="nav-about" class="bottom right"><span>About</span></li>
		<li id="nav-works" class="bottom left"><span>Selected Works</span></li>
	</ul>
	<div id="about">
	<div class="display-table">
		<div class="table-cell">
			<div class="container">
				<h2>
				Gordils &amp; Willis is a digital creative agency that designs &amp; develops fresh web &amp; mobile experiences. We work closely with our clients to understand their needs &amp; transform them into elegant, polished &amp; sometimes experimental products.</h2>
			</div>
		</div>
	</div>
	</div>
	<div id="showcase">
	<canvas id="canvas"></canvas>
	</div>
</div>