<div href="#intro" class="top-splash">


	<ul class="navigation">
		<li id="nav-logo" class="top left">
			{{{svg '../../assets/images/logo.svg' }}}
		</li>
		<li id="nav-contact" class="top right"><span>Contact</span></li>
		<li id="nav-about" class="bottom right"><span>About</span></li>
		<li id="nav-works" class="bottom left"><span>Selected Works</span></li>
	</ul>
	<div id="about">
	<div class="display-table">
		<div class="table-cell">
			<div class="container">
				<h2>
				{{username}}
				We are a uius quidem, quoniam Stoicus fuit, sententia Matthew Gordils and Robin Willis videtur esse inanitas ista verborum. Vero in iis aetatibus, quae iam confirmatae sunt. Nam ista vestra.</h2>
			</div>
		</div>
	</div>
	</div>
</div>