<a href="#intro" class="top-splash">


	<ul class="navigation">
		<li class="top left">
			{{{svg '../../assets/images/logo.svg' }}}
		</li>
		<li class="top right">Contact</li>
		<li class="bottom right">Info</li>
		<li class="bottom left">Selected Works</li>
	</ul>

	<div class="display-table">
		<div class="table-cell">
			<div class="container">
				<h2>We are a uius quidem, quoniam Stoicus fuit, sententia Matthew Gordils and Robin Willis videtur esse inanitas ista verborum. Vero in iis aetatibus, quae iam confirmatae sunt. Nam ista vestra.</h2>
			</div>
		</div>
	</div>
</a>