<div id="work-images" class="section">
	<div class="container">
		<div class="inline-grid">
			<div class="col-12">
				<img src="assets/images/work/honor-tilt.jpg">
			</div>
			<div class="col-6">
				<img src="assets/images/work/wip-6.png">
			</div>
			<div class="col-6">
				<img src="assets/images/work/foragers.gif">
			</div>
			<div class="col-6">
				<img src="assets/images/work/wip-am.png">
			</div>
			<div class="col-6">
				<img src="assets/images/work/rv.png">
			</div>
			<div class="col-12">
				<img src="assets/images/work/vb.gif">
			</div>
			<div class="col-6">
				<img src="assets/images/work/dropsplash.gif">
			</div>
			<div class="col-6">
				<img src="assets/images/work/ds-logo.gif">
			</div>
			<div class="col-12">
				<img src="assets/images/work/ikb-lg.gif">
			</div>
			<div class="col-12">
				<img src="assets/images/work/wip-13.png">
			</div>
			<div class="col-12">
				<img src="assets/images/work/full.gif">
			</div>
		</div>
	</div>
</div>