<div id="work-images" class="section">
	<div class="container">
		<div class="inline-grid">
			<div class="col-12">
				<img src="assets/images/work/honor-tilt.jpg">
			</div>
			<div class="col-6">
				<img src="assets/images/work/sequin-750.png">
			</div>
			<div class="col-6">
				<img src="assets/images/work/foragers-home-750.png">
			</div>
			<div class="col-6">
				<img src="assets/images/work/am-750.png">
			</div>
			<div class="col-6">
				<img src="assets/images/work/rv-750.png">
			</div>
			<div class="col-12">
				<div class="web-layout">
					<img src="assets/images/work/est-home-1200.png">
				</div>
			</div>
			<div class="col-6 no-gutter">
				<div class="web-layout">
					<img src="assets/images/work/est-project-750.png">
				</div>
			</div>
			<div class="col-6 no-gutter">
				<div class="web-layout">
					<img src="assets/images/work/est-project-info-750.png">
				</div>
			</div>
			{{!-- <div class="col-12">
				<div class="web-layout">
					<img src="assets/images/work/vb.gif">
				</div>
			</div> --}}
			<div class="col-12">
				<img src="assets/images/work/sc-patch-1500.png">
			</div>
			<div class="col-6 no-gutter">
				<div class="web-layout">
					<img src="assets/images/work/sc-home-750.png">
				</div>
			</div>
			<div class="col-6 no-gutter">
				<div class="web-layout">
					<img src="assets/images/work/sc-gallery-750.png">
				</div>
			</div>

			<div class="col-12">
				<img src="assets/images/work/wip-13.png">
			</div>

			{{!-- <div class="col-12">
				<img src="assets/images/work/commune.gif">
			</div> --}}

			<div class="col-6 no-gutter">
				<div class="web-layout">
					<img src="assets/images/work/bhqfu-home-750.png">
				</div>
			</div>

			<div class="col-6 no-gutter">
				<div class="web-layout">
					<img src="assets/images/work/bhqfu-class-750.png">
				</div>
			</div>

			{{!-- <div class="col-6">
				<img src="assets/images/work/ds-ripple-750.gif">
			</div> --}}

			<div class="col-6">
				<img src="assets/images/work/gnyc-750.png">
			</div>

			{{!-- <div class="col-12">
				<div class="web-layout">
					<img src="assets/images/work/ikb-lg.gif">
				</div>
			</div> --}}

		</div>
	</div>
</div>