<div id="slideshow" class="section">
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-4">
				<h3>Slideshow</h3>
				<p class="sm">The Hypersite slideshow uses <a href="http://jquery.malsup.com/cycle2/">Cycle 2</a></p>
			</div>
			<div class="col-8">
				<div class="slideshow">
					<div class="slides">
						<ul>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
							<li><img src="assets/images/hypersite-images/offline-placeholder.png" /></li>
						</ul>
						<div class="prev">&#8592;</div>
						<div class="next">&#8594;</div>
						<div class="slidePager"></div>
					</div>
					<!-- <ul class="detailPager inline-grid"></ul> -->
				</div>
			</div>
		</div>
	</div>
</div><!-- End #slideshow -->